<h1>About the Project</h1>
<h2>Part of *Learn IT, Girl* Project</h2>
<h3> Breakfast Finder is being developed as part of *Learn IT, Girl* Project,
<br> international mentorship program that aims to help women learn a programming language while doing an awesome project!</h3>
<p> The coolness factor of this project is that
<br> I'm writing a code that interfaces with the physical world 
<br> and gives something very tangible, 
<br> reinforcing some of the basics of programming.</p>